<div class="edit-activity__page">
    <div class="edit-activity__container">
        <form 
            class="edit-activity__form"
            [formGroup]="editActivityForm" 
            (ngSubmit)="onSubmit()"
        >
            <h2 *ngIf="activity?.name">Modify - {{ activity.name }}</h2>
            <label for="name">Name:</label>
            <input 
                type="name" 
                class="form__input" 
                id="name" 
                formControlName="name"
            >

            <span *ngIf="isInvalidInput('name', editActivityForm)">
                <span *ngIf="isRequired('name', editActivityForm)">Name is required.</span>
                <span *ngIf="hasInvalidLength('name', editActivityForm)">Maximum 20 characters are allowed.</span><br />
            </span>


            <label for="uploadFile">Upload file:</label>
            <input 
                #file
                type="file" 
                class="form__input"
                id="uploadFile"
                (change)="saveFileForUpload(file)" 
            >
            
            <p class="green-text" *ngIf="progress > 0 && uploadMessage">
                {{ progress }}% {{ uploadMessage }}
            </p>

            
            <label for="itemQuantity">Item Quantity:</label>
            <input 
                type="text" 
                class="form__input" 
                id="itemQuantity" 
                formControlName="itemQuantity"
            >

            <span *ngIf="isInvalidInput('itemQuantity', editActivityForm)">
                <span *ngIf="isRequired('itemQuantity', editActivityForm)">Item Quantity is required.</span>
                <span *ngIf="hasInvalidLength('itemQuantity', editActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('itemQuantity', editActivityForm)">Item Quantity should be a number.</span>
            </span>


            <label for="minUserCount">Min user count:</label>
            <input 
                type="text" 
                class="form__input" 
                id="minUserCount" 
                formControlName="minUserCount"
            >

            <span *ngIf="isInvalidInput('minUserCount', editActivityForm)">
                <span *ngIf="isRequired('minUserCount', editActivityForm)">User count is required.</span>
                <span *ngIf="hasInvalidLength('minUserCount', editActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('minUserCount', editActivityForm)">User count should be a number.</span>
            </span>


            <label for="maxUserCount">Max user count:</label>
            <input 
                type="text" 
                class="form__input" 
                id="maxUserCount" 
                formControlName="maxUserCount"
            >

            <span *ngIf="isInvalidInput('maxUserCount', editActivityForm)">
                <span *ngIf="isRequired('maxUserCount', editActivityForm)">User count is required.</span>
                <span *ngIf="hasInvalidLength('maxUserCount', editActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('maxUserCount', editActivityForm)">User count should be a number.</span>
            </span>


            <label for="description">Description:</label>
            <input 
                type="text" 
                class="form__input" 
                id="description" 
                formControlName="description"
            >

            <span *ngIf="isInvalidInput('description', editActivityForm)">
                <span *ngIf="isRequired('description', editActivityForm)">Description is required.</span>
                <span *ngIf="hasInvalidLength('description', editActivityForm)">Maximum 400 characters are allowed.</span>
            </span>


            <label for="location">Location:</label>
            <input 
                type="text" 
                class="form__input" 
                id="location" 
                formControlName="location"
            >

            <span *ngIf="isInvalidInput('location', editActivityForm)">
                <span *ngIf="isRequired('location', editActivityForm)">Location is required.</span>
                <span *ngIf="hasInvalidLength('location', editActivityForm)">Maximum 100 characters are allowed.</span>
            </span>


            <div>
                <button 
                    class="update-button" 
                    type="submit" 
                    [disabled]="!editActivityForm.valid || isLoading"
                >
                    {{ isLoading ? 'Updating...' : 'Update' }}
                </button>
                <button 
                    class="cancel-button" 
                    (click)="onCancel()"
                >
                    Cancel
                </button>
            </div>
        </form><br />

        <app-error
            *ngIf="!!errorMessage"
            [error]="errorMessage"
        ></app-error>                         
        <app-loading-spinner *ngIf="isLoading">
        </app-loading-spinner>
    </div>
</div>
