<button 
    class="btn-success"
    routerLink="/create-activity"
    *ngIf="isAdmin"
>
    New activity
</button><br />
<input 
    [(ngModel)]="searchTerm"
    (input)="onSearch()"
    type="text" 
    placeholder="Search by name..." 
/>
<button 
    class="btn-primary"
    (click)="onClear()"
>
    Clear
</button>

<div class="activityEntity__page">
    <div 
        class="activityEntity__container"
        *ngIf="activityEntities.length > 0"
    >
        <table class="table table-responsive" >
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Min users</th>
                <th scope="col">Max users</th>
                <th scope="col">Location</th>
                <th scope="col" colspan="3"></th>
            </tr>
            </thead>
        
            <tbody *ngIf="!displayFiltered">
                <tr *ngFor="let activity of activityEntities; let number = index;">
                    <th scope="row">{{ number + 1 }} </th>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.itemQuantity }}</td>
                    <td>{{ activity.minUserCount }}</td>
                    <td>{{ activity.maxUserCount }}</td>
                    <td>{{ activity.location }}</td>

                    <td>
                        <button 
                            class="btn-success" 
                            (click)="onSelect(activity)"
                            routerLink="/view-activity"
                        >
                            View
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn-warning"
                            (click)="onSelect(activity)"
                            routerLink="/edit-activity"
                        >
                            Edit
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn-danger"
                            (click)="onDelete(activity)"
                            *ngIf="isAdmin"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="displayFiltered">
                <tr *ngFor="let activity of filteredActivityEntities; let number = index;">
                    <th scope="row">{{ number + 1 }} </th>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.itemQuantity }}</td>
                    <td>{{ activity.minUserCount }}</td>
                    <td>{{ activity.maxUserCount }}</td>
                    <td>{{ activity.location }}</td>

                    <td>
                        <button 
                            class="btn-success" 
                            (click)="onSelect(activity)"
                            routerLink="/view-activity"
                        >
                            View
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn-warning"
                            (click)="onSelect(activity)"
                            routerLink="/edit-activity"
                        >
                            Edit
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn-danger"
                            (click)="onDelete(activity)"
                            *ngIf="isAdmin"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="filteredActivityEntities.length < 1 && searchTerm">
                <tr>
                    <td>No such activity found.</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<app-error 
    *ngIf="!!errorMessage" 
    [error]="errorMessage"
></app-error> 
<app-loading-spinner *ngIf="isLoading">
</app-loading-spinner>
  