<div class="activityEntity__page">
    <div 
        class="activityEntity__container"
        *ngIf="activityEntities.length > 0"
    >
        <table class="table table-striped table-responsive">
            <div class="manage__container">
                <div class="manage__activityEntities">
                    <button 
                        class="clear-button"
                        (click)="onClear()"
                    >
                        Clear
                    </button>
                    <input 
                        class="primary-input"
                        [(ngModel)]="searchTerm"
                        (input)="onSearch()"
                        type="text" 
                        placeholder="Search by name..." 
                    />
                    <button 
                        class="new-activity-button"
                        routerLink="/create-activity"
                        *ngIf="isAdmin"
                    >
                        New activity
                    </button>
                </div>
            </div>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Min users</th>
                    <th scope="col">Max users</th>
                    <th scope="col">Location</th>
                    <th scope="col" colspan="3"></th>
                </tr>
            </thead>
        
            <tbody *ngIf="!displayFiltered">
                <tr *ngFor="let activity of activityEntities; let number = index;">
                    <th scope="row">{{ number + 1 }} </th>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.itemQuantity }}</td>
                    <td>{{ activity.minUserCount }}</td>
                    <td>{{ activity.maxUserCount }}</td>
                    <td>{{ activity.location }}</td>

                    <td>
                        <button 
                            class="view-button" 
                            (click)="onSelect(activity)"
                            [routerLink]="['/activity-entity', activity.id]"
                        >
                            View
                        </button>
                    </td>
                    <td *ngIf="isAdmin">
                        <button 
                            class="edit-button"
                            (click)="onSelect(activity)"
                            [routerLink]="['/activity-entity/edit', activity.id]"
                        >
                            Edit
                        </button>
                    </td>
                    <td *ngIf="isAdmin">
                        <button 
                            class="delete-button"
                            (click)="onDelete(activity)"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="displayFiltered">
                <tr *ngFor="let activity of filteredActivityEntities; let number = index;">
                    <th scope="row">{{ number + 1 }} </th>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.itemQuantity }}</td>
                    <td>{{ activity.minUserCount }}</td>
                    <td>{{ activity.maxUserCount }}</td>
                    <td>{{ activity.location }}</td>

                    <td>
                        <button 
                            class="view-button" 
                            (click)="onSelect(activity)"
                            [routerLink]="['/activity-entity', activity.id]"
                        >
                            View
                        </button>
                    </td>
                    <td *ngIf="isAdmin">
                        <button 
                            class="edit-button"
                            (click)="onSelect(activity)"
                            [routerLink]="['/activity-entity/edit', activity.id]"
                        >
                            Edit
                        </button>
                    </td>
                    <td *ngIf="isAdmin">
                        <button 
                            class="delete-button"
                            (click)="onDelete(activity)"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>

            <tbody *ngIf="filteredActivityEntities.length < 1 && searchTerm">
                <tr>
                    <td colspan="7">No such activity found.</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

<router-outlet></router-outlet>

<app-error 
    *ngIf="!!errorMessage" 
    [error]="errorMessage"
></app-error> 
<app-loading-spinner *ngIf="isLoading">
</app-loading-spinner>
  