@media (min-width: 1700px) {
    .user__container {
        width: auto;
        min-width: 1310px;
        min-height: 420px;

        & table {
            & tbody tr td {
                min-width: 160px;
                max-width: 180px;
                padding-left: 10px;
            }
    
            min-height: 400px;
        }
    
        .thead-dark tr th {
            min-width: 160px;
            max-width: 180px;
            padding-left: 5px;
        }
    }
}

@media (min-width: 1442px) {
    .user__container { 
        font-size: 26px; 
    
        & .pagination-sm .page-link {
            padding: .5rem 1rem;
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
}

@media (max-width: 1700px) {
    .manage__users {
        & .new-user-button { margin-left: 5%; }
    }
}

@media (max-width: 1440px) {
    .user__container {
        min-width: auto;
        max-width: 1000px;

        & table {
            & tbody tr td {
                min-width: 80px;
                max-width: 100px;
                padding-left: 10px;
                overflow: scroll;
            }
    
            min-width: auto;
        }
    
        .thead-dark tr th {
            min-width: 80px;
            max-width: 100px;
            padding-left: 5px;
        }
    }
}

@media (max-width: 1000px) {
    .user__container { font-size: 16px; }   
}

@media (max-width: 700px) {
    .user__container { 
        width: 88%;

        & .pagination__container {
            & p {
                font-size: 12px;
                margin-right: 1%;
            }
        }
    }   

    .manage__users { 
        margin-top: 20px;
        margin-left: 5%; 

        & .clear-button { margin-left: 0; }
        
        & .new-user-button { 
            margin-top: 20px;
        }  
    }  
}
