<div class="new-activity__page">
    <div class="new-activity__container">
        <form 
            class="new-activity__form"
            [formGroup]="newActivityForm" 
            (ngSubmit)="onSubmit()"
        >
            <h2>Create Activity</h2>
            <label for="name">Name:</label>
            <input 
                type="name" 
                class="form__input" 
                id="name" 
                formControlName="name"
            >

            <span *ngIf="isInvalidInput('name', newActivityForm)">
                <span *ngIf="isRequired('name', newActivityForm)">Name is required.</span>
                <span *ngIf="hasInvalidLength('name', newActivityForm)">Maximum 20 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('name', newActivityForm)">First letter should be capital.</span>
            </span>


            <label for="uploadFile">Upload file:</label>
            <input 
                #file
                type="file" 
                class="form__input"
                id="uploadFile"
                (change)="saveFileForUpload(file)" 
            >
            
            <p class="green-text" *ngIf="progress > 0 && uploadMessage">
                {{ progress }}% {{ uploadMessage }}
            </p>
            

            <label for="itemQuantity">Item Quantity:</label>
            <input 
                type="text" 
                class="form__input" 
                id="itemQuantity" 
                formControlName="itemQuantity"
            >

            <span *ngIf="isInvalidInput('itemQuantity', newActivityForm)">
                <span *ngIf="isRequired('itemQuantity', newActivityForm)">Item Quantity is required.</span>
                <span *ngIf="hasInvalidLength('itemQuantity', newActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('itemQuantity', newActivityForm)">Item Quantity should be a number.</span>
            </span>


            <label for="minUserCount">Min user count:</label>
            <input 
                type="text" 
                class="form__input" 
                id="minUserCount" 
                formControlName="minUserCount"
            >

            <span *ngIf="isInvalidInput('minUserCount', newActivityForm)">
                <span *ngIf="isRequired('minUserCount', newActivityForm)">User count is required.</span>
                <span *ngIf="hasInvalidLength('minUserCount', newActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('minUserCount', newActivityForm)">User count should be a number.</span>
            </span>


            <label for="maxUserCount">Max user count:</label>
            <input 
                type="text" 
                class="form__input" 
                id="maxUserCount" 
                formControlName="maxUserCount"
            >

            <span *ngIf="isInvalidInput('maxUserCount', newActivityForm)">
                <span *ngIf="isRequired('maxUserCount', newActivityForm)">User count is required.</span>
                <span *ngIf="hasInvalidLength('maxUserCount', newActivityForm)">Maximum 4 characters are allowed.</span><br />
                <span *ngIf="isInvalidFormat('maxUserCount', newActivityForm)">User count should be a number.</span>
            </span>


            <label for="description">Description:</label>
            <input 
                type="text" 
                class="form__input" 
                id="description" 
                formControlName="description"
            >

            <span *ngIf="isInvalidInput('description', newActivityForm)">
                <span *ngIf="isRequired('description', newActivityForm)">Description is required.</span>
                <span *ngIf="hasInvalidLength('description', newActivityForm)">Maximum 400 characters are allowed.</span>
            </span>


            <label for="location">Location:</label>
            <input 
                type="text" 
                class="form__input" 
                id="location" 
                formControlName="location"
            >

            <span *ngIf="isInvalidInput('location', newActivityForm)">
                <span *ngIf="isRequired('location', newActivityForm)">Location is required.</span>
                <span *ngIf="hasInvalidLength('location', newActivityForm)">Maximum 100 characters are allowed.</span>
            </span>


            <div>
                <button 
                    class="create-button" 
                    type="submit" 
                    [disabled]="!newActivityForm.valid || isLoading"
                >
                    {{ isLoading ? 'Creating...' : 'Create' }}
                </button>
                <button 
                    class="cancel-button" 
                    (click)="onCancel()"
                >
                    Cancel
                </button>
            </div>
        </form><br />

        <app-error
            *ngIf="!!errorMessage"
            [error]="errorMessage"
        ></app-error>                         
        <app-loading-spinner *ngIf="isLoading">
        </app-loading-spinner>
    </div>
</div>
