.register__page .welcome { text-align: center; }

/* Responsiveness */
@media (max-width: 500px) {
    .register__buttons {
        & .cancel-button { margin-top: 10px; }
    }
}

@media (max-width: 1030px) {
    .register__buttons {
        & .cancel-button { margin-top: 20px; }
    }
}

