.view-user__container {
    color: $black;
    background-color: $white;
    border: none;

    & .content__info {
        text-align: left;
        margin-top: 25px;
        margin-left: 10px;
    
        & h2 {
            text-align: center;
            text-decoration: underline;
            font-weight: bold;
        }

        & .title {
            font-weight: bold;
            margin-right: 10px;
        }

        & div {
            font-size: 16px;
            padding: 10px 50px 10px 50px;
            
            display: flex;
            flex-direction: row;
        }
    }
}

.user {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 50px 0px 50px 0;
    padding: 10px;
    box-shadow: 3px 3px 5px 3px $shadowGray;
    background-color: $white;
    overflow: hidden;

    &__name {
        text-decoration: underline;
        font-weight: bold;
    }

    &__info { 
        color: $darkGreen; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

/* Responsiveness */
@media (max-width: 500px) {
    .user {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .view-user__container {
        & .content__info { 
            & div {
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 840px) {
    .view-user__container {
        & .content__info { 
            & div {
                font-size: 22px;
            }
        }
    }
}
