.activityEntity__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activityEntity__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 50px;
    
    color: $white;
    background-color: $lightGray;
    box-shadow: 3px 3px 5px 3px $shadowGray;

    & table tr {
        border-bottom: 2px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    & table {
        padding: 5px;
        margin-bottom: 0;
    }
}

.manage__container {
    display: flex;
    margin-left: 5%;

}

.manage__activityEntities {
    background-color: $white;
    border: 2px solid $gray;
    color: $black;
    box-shadow: 3px 3px 5px 3px $gray;
    padding: 20px;
}

/* Responsiveness */
@media (max-width: 1000px) {
    .activityEntity__container { 
        font-size: 16px;
        width: 95%;
    }
}

@media (min-width: 1900px) {
    .activityEntity__container { 
        font-size: 22px;
    }
}
