*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul { list-style: none; }

a:hover,
a { text-decoration: none; }

html,
body {
    margin: 0;
    height: 100%;
}

li { font-size: 20px; }

.red-text { color: $red; }
.green-text { 
    color: $green !important;
    font-weight: bold; 
}

.full-opacity { opacity: 1 !important; }
