$red: #e62e00;
$darkRed: #802000;
$black: #000;
$aqua: #00ccff;
$darkAqua: #1aa3ff;
$white: #fff;
$gray: #999999;
$lightGray: #e6e6e6;
$shadowGray: #595959;
$yellow: #ffff00;
$darkYellow: #808000;
$blue: #0000ff;
$darkBlue: #2a5298;
$lightBlue: #c2e9fb;
$green: #00ff00;
$lightGreen: #80ff80;
$darkGreen: #008000;
