.user__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 50px;
     
    color: $white;
    background-color: $lightGray;
    box-shadow: 3px 3px 5px 3px $shadowGray;

    & table tr {
        border-bottom: 2px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    & table {
        padding: 5px;
        margin-bottom: 0;
    }

    & .pagination {
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;

        & .page-item {
            cursor: pointer;
        }
    }

    & .pagination__container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        
        & p {
            color: $black;
            align-self: center;
            margin-right: 2%;
        }
    }

    width: auto;
}

.manage__users {
    color: $black;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
    
    & input { 
        margin: 0; 
        margin-right: auto;
    }
    
    & .clear-button {
        margin-left: 5%;
    }

    & .new-user-button { margin: 5px 10px 5px 35%; }
}

/* Responsiveness */
@media (min-width: 1700px) {
    .user__container {
        width: auto;
        min-width: 1310px;
        min-height: 420px;

        & table {
            & tbody tr td {
                min-width: 160px;
                max-width: 180px;
                padding-left: 10px;
            }
    
            min-height: 400px;
        }
    
        .thead-dark tr th {
            min-width: 160px;
            max-width: 180px;
            padding-left: 5px;
        }
    }
}

@media (min-width: 1442px) {
    .user__container { 
        font-size: 26px; 
    
        & .pagination-sm .page-link {
            padding: .5rem 1rem;
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
}

@media (max-width: 1700px) {
    .manage__users {
        & .new-user-button { margin-left: 5%; }
    }
}

@media (max-width: 1440px) {
    .user__container {
        min-width: auto;
        max-width: 1000px;

        & table {
            & tbody tr td {
                min-width: 80px;
                max-width: 100px;
                padding-left: 10px;
                overflow: scroll;
            }
    
            min-width: auto;
        }
    
        .thead-dark tr th {
            min-width: 80px;
            max-width: 100px;
            padding-left: 5px;
        }
    }
}

@media (max-width: 1000px) {
    .user__container { font-size: 16px; }   
}

@media (max-width: 700px) {
    .user__container { 
        width: 88%;

        & .pagination__container {
            & p {
                font-size: 12px;
                margin-right: 1%;
            }
        }
    }   

    .manage__users { 
        margin-top: 20px;
        margin-left: 5%; 

        & .clear-button { margin-left: 0; }
        
        & .new-user-button { 
            margin-top: 20px;
        }  
    }  
}
