.schedule__form {
    background-color: $lightGray;
    width: 85%;
    padding: 50px;

    box-shadow: 3px 3px 5px 3px $shadowGray;

    & .form__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        & .activity-date:hover,
        & .activity-dropdown:hover {
            cursor: pointer;
        }
    }

    & .activity-dropdown,
    & .activity-date,
    & .primary-button {
        padding: 8px;
        border-radius: 5px;
        border: 1px solid $gray;
        margin-bottom: 20px;
    }
}

.schedule-availability {
    background-color: $lightGray;
    width: 85%;
    padding: 50px;
    box-shadow: 3px 3px 5px 3px $shadowGray;
    min-height: 600px;

    & .activity-name {
        margin-bottom: 10%;
    }

    & .availability {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 120px;

        background-color: darken($color: $white, $amount: 4%);
        padding: 20px;
        margin-top: 5%;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-decoration: underline;
        font-size: larger;
        font-weight: bold;
    }
}

.details pre {
    background: $lightBlack;
    color: $white;
    padding: 10px;
    font-size: 16px;
}

.availability__button--book {
    margin-left: 23%;
    margin-bottom: 10px;
    text-align: center;
    background-color: $darkGreen;
    font-weight: bold;
    font-size: 22px;
    width: 110px;
    height: 50px;
}

.availability__details {
    display: flex;
    width: 110px;
}

#arrow-up {
    position: fixed;
    width: 30px;
    height: 30px;
    text-align: center;
    bottom: 34%;
    left: 67.5%;
    font-size: 85px;
    color: $lightBlack;
    display: none;
    
    &:hover { cursor: pointer; }
}

@media (min-width: 1600px) {
    .schedule-availability {
        min-height: 1350px;
    }
}

@media (max-width: 1900px) {
    #arrow-up {
        left: 74%;
    }
}

@media (max-width: 1400px) {
    #arrow-up {
        left: 82%;
    }
}

@media (max-width: 500px) {
    #arrow-up {
        left: 83%;
    }
}
