<div 
    class="activityEntity__page"
    *ngIf="activity"
>
    <div class="activityEntity__container">
        <div class="activityEntity">
            <h5 class="activityEntity__name">{{ activity.name }}</h5>
            <img 
                class="activityEntity__image"
                [src]="activity.imageUrl" 
                alt="{{ activity.name }}"  
            >
            <p class="activityEntity__description">{{ activity.description }}</p>

            <p>Item quantity: 
                <span class="activityEntity__info">{{ activity.itemQuantity }}</span>
            </p>
            <p>Minimum user count: 
                <span class="activityEntity__info">{{ activity.minUserCount }}</span>
            </p>
            <p>Maximum user count: 
                <span class="activityEntity__info">{{ activity.maxUserCount }}</span>
            </p>
            <p>Location: 
                <span class="activityEntity__info">{{ activity.location }}</span>
            </p>
        </div>
        <button 
            class="btn-info" 
            (click)="onGoBack()"
        >
            Go back
        </button>
    </div>
</div>
