<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li 
                class="nav__logo" 
                routerLinkActive="active" 
            >
                <a href="#">Activity Scheduler</a>
            </li>


            <li 
                class="nav__item" 
                routerLinkActive="active" 
                *ngIf="isLoggedIn"
                routerLink="/activities"
            >
                <a>Activities</a>
            </li>
            
            <li 
                class="nav__item" 
                routerLinkActive="active" 
                *ngIf="!isLoggedIn"
                routerLink="/register"
            >
                <a>Register</a>
            </li>

            <li 
                class="nav__item" 
                routerLinkActive="active" 
                *ngIf="isAdmin"
                routerLink="/register-admin"
            >
                <a>Register Admin</a>
            </li>

            <li 
                class="nav__item" 
                routerLinkActive="active" 
                *ngIf="!isLoggedIn"
                routerLink="/login"
            >
                <a>Login</a>
            </li>

            <li 
                class="nav__item" 
                routerLinkActive="active" 
                *ngIf="isLoggedIn" 
                (click)="onLogout()"
                routerLink="/login"
            >
                <a>Log out</a>
            </li>
        </ul>
    </nav>
</header>