.activityEntity__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activityEntity__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 14px;
    margin-bottom: 50px;
    margin-top: 50px;
     
    color: $white;
    background-color: $lightGray;
    box-shadow: 3px 3px 5px 3px $shadowGray;

    & table tr {
        border-bottom: 2px solid $gray;

        &:last-child {
            border-bottom: none;
        }
    }

    & table {
        padding: 5px;
        margin-bottom: 0;
    }

    & .pagination {
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: auto;

        & .page-item {
            cursor: pointer;
        }
    }

    & .pagination__container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        
        & p {
            color: $black;
            align-self: center;
            margin-right: 2%;
        }
    }

    width: auto;
}

.manage__activityEntities {
    color: $black;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;

    & input { 
        margin: 0; 
        margin-right: auto;
    }
    
    & .clear-button {
        margin-left: 5%;
    }

    & .new-activity-button { margin: 5px 5px 5px 35%; }
}

@import './responsive';
