.nav {
    background-color: $black;
    color: $white;
    padding: 25px 0 25px 0;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;       
        &:last-child{ margin-right: 5%; } 
    }

    &__logo {
        @include styleNavigation();
        
        margin-right: auto;
        margin-left: 5%;

        & a,
        & a:hover,
        &:hover {
            text-decoration: none;
            color: $red;
        }
    }

    &__item {
        @include styleNavigation();

        outline: none;
        cursor: pointer;

        & a { 
            opacity: 0.7; 
            color: $white;
        }
        
        & a:hover,
        & a:focus {
            color: $white;
            text-decoration: underline;
        }

        & a.active { opacity: 1; }

        & .material-icons {
            font-size: 40px;
            
            &:hover { opacity: 0.8; text-decoration: underline $white;}
        }
    }
}

.active {
    opacity: 1;
    font-weight: bold;
    text-decoration: underline;
}


/* Responsiveness */
@media (max-width: 770px) {
    .nav {
        &__list { flex-direction: column; }
        &__item { text-align: center; }    
    }
}
