<header class="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__logo">
                <a 
                    href="#" 
                    routerLinkActive="active"
                >Activity Scheduler</a>
            </li>

            
            <span 
                (click)="toggleMenu()"
                id="dropdown"
                [ngClass]="{'full-opacity': toggleDropdown}"
            >
                &#9776;
            </span><br />
            <li 
                class="nav__item" 
                *ngIf="isLoggedIn"
                [ngClass]="{'show-item': toggleDropdown}"
            >
                <a 
                    routerLink="/activities"
                    routerLinkActive="active"     
                >Activities</a>
            </li>
            
            <li 
                class="nav__item" 
                *ngIf="!isLoggedIn"
                [ngClass]="{'show-item': toggleDropdown}"
            >
                <a 
                    routerLink="/register"
                    routerLinkActive="active"     
                >Register</a>
            </li>

            <li 
                class="nav__item" 
                *ngIf="isAdmin"
                [ngClass]="{'show-item': toggleDropdown}"
            >
                <a 
                    routerLink="/register-admin"
                    routerLinkActive="active" 
                >Register Admin</a>
            </li>

            <li 
                class="nav__item" 
                *ngIf="!isLoggedIn"
                [ngClass]="{'show-item': toggleDropdown}"
            >
                <a 
                    routerLink="/login"
                    routerLinkActive="active" 
                >Login</a>
            </li>

            <li 
                class="nav__item" 
                *ngIf="isLoggedIn" 
                [ngClass]="{'show-item': toggleDropdown}"
            >
                <a 
                    (click)="onLogout()"
                    routerLink="/login"
                    routerLinkActive="active" 
                >Log out</a>
            </li>
        </ul>
    </nav>
</header>
