.primary-input {
    background-color: $lightGray;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $gray;
    margin: 25px 10px 0 0;
    
    &::placeholder { 
        color: $gray; 
        font-weight: 700;
    }
}
