<div class="view-user__page" *ngIf="user">
    <div class="view-user__container">
        <div class="user">
            <div class="content__info">
                <h2>Account Information</h2><br /><br />
                <div>
                    <span class="title">Name:</span>
                    <span class="user__info"> {{ user.userName }} </span>    
                </div>
                <div>
                    <span class="title">Last name:</span>
                    <span class="user__info"> {{ user.lastName }} </span>    
                </div>
                <div>
                    <span class="title">E-Mail:</span>
                    <span class="user__info"> {{ user.email }} </span>    
                </div>
                <div>
                    <span class="title">Admin:</span>
                    <span class="user__info"> {{ user.isAdmin ? 'Yes' : 'No' }} </span>    
                </div>
            </div>
        </div>    
        <button 
            class="back-button" 
            (click)="onGoBack()"
        >
            Go back
        </button>        
    </div>
</div>


<div *ngIf="!user && !errorMessage && !isLoading">
    <app-not-found></app-not-found>
</div>

<app-error 
    *ngIf="!!errorMessage" 
    [error]="errorMessage"
></app-error> 

<app-loading-spinner *ngIf="isLoading">
</app-loading-spinner>
