<div class="not-found">
    <a routerLink="/activities" id="not-found__a">

        <div class="card text-light bg-info mb-3 not-found__wrapper" ><br /><br />
            <h3 class="card-header">The page you were looking for could not be found.</h3>
            
            <div class="card-body not-found__body">
                <img 
                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.YkT4R7nZ5JjH3Ok6_xYBmgAAAA%26pid%3DApi&f=1" 
                    alt="Page not found" 
                    class="img-responsive"
                >            
            </div>
        </div>
    </a>
</div><br /> <br />
